@import "../vars.css";

/* Desktop Style */

.navBar {
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--navHeight);
  min-width: 100%;
  z-index: 999;
  transition: 0ms;
  border: none;
  top: 0;
  overflow-y: hidden;
}

/* .navBarBG {
  box-shadow: 0px 0px 15px 10px var(--headerAltBG);
  background-color: rgb(40, 59, 51);
} */

.navLinkElement {
  margin: auto 2rem auto 2rem;
  color: var(--textInverted);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.15s;
}

.navLinkElement:hover {
  color: var(--textInvertedHighlight);
}

.logoImg {
  max-height: 3.5em;
  transition: 0ms;
  margin: 2rem;
}

.navToggle {
  display: none;
  position: absolute;
  z-index: 4;
}

/* Mobile Styles */

@media (max-width: 870px) {
  .navToggle {
    position: fixed;
    display: block;
    z-index: 1000;
  }

  .navBar {
    position: fixed;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    border: none;
    border-left: none;
    transform-origin: left;
    transform: scale(0, 1);
    padding: 1rem;
    box-shadow: 0px 0px 5px 1px var(--primary);
    top: 0;
    transition: 250ms, box-shadow 100ms ease-in-out;
  }

  .logoImgContainer {
    order: -3;
    align-self: center;
    margin-top: 1rem;
    max-width: 50%;
  }

  .logoImg {
    margin: 0;
  }

  .navLinkElement {
    margin: 2rem 1rem;
    color: var(--textInverted);
    font-size: clamp(0.5em, 3vw + 0.5em, 1.5em);
    text-decoration: none;
    text-transform: uppercase;
  }

  .logoImgContainer,
  .navLinkElement {
    opacity: 0;
    transition: opacity 50ms ease-in-out;
  }
  .navToggle:checked ~ .navBar {
    transform: scale(1);
    background-color: rgb(70, 64, 59, 0.98);
    border-right: 2px solid var(--accent);
    transition: 250ms, box-shadow 250ms ease-in-out;
  }

  .navToggle:checked ~ .navBar > * {
    transition: opacity 150ms ease-in-out ;
    opacity: 1;
  }
}
