:root {
  --text: #221a12;
  --textInverted: #e9c198;
  --textInvertedHighlight: #ecdccc;
  --background: #fef9ee;
  --primary: #dba87b;
  --secondary: rgb(245, 237, 231);
  --borders: rgb(209, 203, 189);
  --accent: rgb(206, 170, 122);
  --promotionBG: rgb(233, 216, 195);

}
