:root {
  --text: #221a12;
  --textInverted: #e9b47e;
  --textInvertedHighlight: #ecdccc;
  --background: #fef9ee;
  --primary: #dba87b;
  --secondary: rgb(245, 237, 231);
  --borders: rgb(209, 203, 189);
  --accent: #ceb37a;
}
